*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Serif, sans-serif;
}

html, body {
   font-size: 10px;
   scroll-behavior: smooth;
}

@media (max-width: 520px) {
   font-size: 2rem;
}

body {
   background: repeating-linear-gradient(
      orange,
      orangered,
      orchid
   );
}

#navbar {
   position: fixed;
   top: 0;
   width: 100vw;
   height: 2.5rem;
   margin-bottom: 2.5rem;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   background-color: hotpink;
   padding: 1rem 0;
   z-index: 10;
}

#navbar a {
   text-decoration: none;
   padding: 0 1rem;
   font-size: 1.5rem;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
}

#welcome-section {
   margin: 2rem 0;
   width: 100vw;
   height: 100vh;
   display: flex;
   position: relative;
   justify-content: center;
   align-items: center;
   background-color: darkslateblue;
}

.roll {
   width: 20%;
   height: 10%;
   border-radius: 50%;
   animation: roll 4s linear infinite;
   position: absolute;
   top: 20%;
}

.roll:hover {
   background: radial-gradient(
      circle,
      white,
      whitesmoke,
      gainsboro,
      gray
   );
}

.roll:active {
   transform: scale(0.95);
   background: radial-gradient(
      circle,
      black,
      darkslategrey,
      darkgray
   );
}

#header * {
   text-align: center;
   padding: 1rem;
}

#welcome-header {
   color: white;
}

#welcome-paragraph {
   background: linear-gradient(to right, red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

#projects, #contact {
   width: 100vw;
   height: 100vh;
   margin: 1rem 0;
}

#projects {
   background-color: darkolivegreen;
}

#projects h2 {
   text-align: center;
   padding: 1rem;
   color: white;
   position: relative;
   z-index: 1;
}

#projects h2::before {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 10%;
   background: linear-gradient(
   to right,
      red,
      green,
      blue
   );
   z-index: -1;
}

#projects p {
   font-weight: bold;
   color: black;
   padding: 1rem;
}

.project-tile {
   display: flex;
   justify-content: center;
   margin: 1rem 0;
   height: 20%;
}

#contact {
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(
      to bottom,
      lightgreen,
      lightgray
   );
}

.contact-style * {
   padding: 1rem;
   text-align: center;
}

.contact-style h2 {
   color: red;
}

i {
   font-size: 2.5rem;
   color: black;
   margin-right: 1rem;
}

.icon-link {
   text-decoration: none;
   color: black;
   font-weight: bold;
}

footer {
   height: 3rem;
   padding: 1rem;
   margin: 1rem 0 0;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   background-color: darkslateblue;
}

footer p {
   font-style: italic;
   color: white;
}

@keyframes roll {
   0% {
      background: radial-gradient(
         circle,
         lightblue,
         darkblue
      );
   }
   50% {
      background: radial-gradient(
         circle,
         lightgreen,
         darkgreen
      );
   }
   100% {
      background: radial-gradient(
         circle,
         lightcoral,
         darkred
      );
   }
}