*,
*::before,
*::after {
   padding: 0;
   margin: 0;
}

html, body {
   width: 100%;
   height: 100%;
   background-color: wheat;
   color: whitesmoke;
   font-size: 10px;
}

main {
   background-color: darkslategrey;
   padding: 0 1rem 1rem;
   margin: 1rem;
   height: 100%;
}

#title {
   font-size: 2rem;
   font-family: Impact, Serif, sans-serif;
   text-align: center;
   padding: 1rem;
}

#tribute-info {
   text-align: center;
   margin: auto;
}

img {
   width: 100%;
   height: 50%;
   padding: 1rem 0;
}

#img-div {
   background-color: lightgoldenrodyellow;
   padding: 0 1rem;
   margin: 1rem 0;
}

#img-caption {
   color: darkslategrey;
   padding: 1rem;
   text-align: center;
   font-size: 1.5rem;
   font-style: italic;
}

#tribute-link {
   color: lightblue;
   text-decoration: none;
   padding: 1rem;
   margin: 1rem;
   text-align: center;
}

#heroes {
   font-size: 2rem;
   text-align: center;
   font-weight: bold;
}

#list {
   margin: auto;
   padding: 1rem;
   list-style-type: none;
   border-bottom: 1px solid brown;
}

#list li {
   text-align: center;
   font-family: cursive, sans-serif;
   font-size: 2rem;
   margin: 1rem;
}